<ng-container *ngIf="questions$|payload|async as questions">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title> Question {{questionNumber+1}} / {{questions.value?.length}} </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large"
          >Question {{questionNumber+1}}/{{questions.value?.length}}</ion-title
        >
      </ion-toolbar>
    </ion-header>

    <div id="container">
      <strong>Ready to create an app?</strong>
      <p>
        Start with Ionic
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://ionicframework.com/docs/components"
          >UI Components</a
        >
      </p>
      <ng-container *ngFor="let question of questions.value; let i =index"
        ><ng-container *ngIf="questionNumber === i">
          {{question.question}}
          <ng-container *ngFor="let option of question.choices"
            ><p (click)="onSubmit(option, question.answer,i,nextQuestion[i])">
              {{option}}
            </p></ng-container
          >
          <button *ngIf="levelRefresh" (click)="onRefreshLevel()">
            refresh
          </button>
          <button
            *ngIf="nextQuestion[i]!==undefined"
            (click)="onNextQuestion(i)"
          >
            next
          </button>
          <button *ngIf="nextLevel" (click)="onNextLevel()">next</button>
        </ng-container>
      </ng-container>
    </div>
  </ion-content>
</ng-container>
